@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*,
body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale !important;
}

html,
body {
  height: 100% !important;
  background-color: #152733 !important;
  overflow: auto !important;
}

.form-holder {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  min-height: 100vh !important;
}

.form-holder .form-content {
  position: relative !important;
  text-align: center !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  padding: 60px !important;
}

.form-content .form-items {
  border: 3px solid #fff !important;
  padding: 40px !important;
  display: inline-block !important;
  width: 100% !important;
  min-width: 540px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  -webkit-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}

.form-content h3 {
  color: #fff !important;
  text-align: left !important;
  font-size: 28px !important;
  font-weight: 600 !important;
  margin-bottom: 5px !important;
}

.form-content h3.form-title {
  margin-bottom: 30px !important;
}

.form-content p {
  color: #fff !important;
  text-align: left !important;
  font-size: 17px !important;
  font-weight: 300 !important;
  line-height: 20px !important;
  margin-bottom: 30px !important;
}

.form-content label,
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: #fff !important;
}

.form-content input[type="text"],
.form-content input[type="password"],
.form-content input[type="email"],
.form-content select {
  width: 100% !important;
  padding: 9px 20px !important;
  text-align: left !important;
  border: 0 !important;
  outline: 0 !important;
  border-radius: 6px !important;
  background-color: #fff !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  color: #8d8d8d !important;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  margin-top: 16px !important;
}

.btn-primary {
  background-color: #6c757d !important;
  outline: none !important;
  border: 0px !important;
  box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #495056 !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.form-content textarea {
  position: static !important;
  width: 100% !important;
  padding: 8px 20px !important;
  border-radius: 6px !important;
  text-align: left !important;
  background-color: #fff !important;
  border: 0 !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  color: #8d8d8d !important;
  outline: none !important;
  resize: none !important;
  height: 120px !important;
  -webkit-transition: none !important;
  transition: none !important;
  margin-bottom: 14px !important;
}

.form-content textarea:hover,
.form-content textarea:focus {
  border: 0 !important;
  background-color: #ebeff8 !important;
  color: #8d8d8d !important;
}

.mv-up {
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

.invalid-feedback {
  color: #ff606e !important;
}

.valid-feedback {
  color: #2acc80 !important;
}
